@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 5.2rem;
  --my-image-width: 19rem;
  --my-image-height: 19.5rem;
  --my-image-border-space: 1.8rem;
  --col-gap: 2rem;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0 5%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0 5%;
    --popover-foreground: 0 0% 96%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0deg 0% 60.78%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.29deg 31.82% 91.37% / 35%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --site-primary: 0 0% 0%;
    --site-primary-foreground: 0 0% 100%;

    --site-secondary: 330.04 101.53% 50.86%;
    --site-secondary-foreground: 330.04 101.53% 65.86%;
  }

  .dark {
    --background: 0 0 5%;
    --foreground: 210 40% 98%;

    --card: 210 40% 98%;
    --card-foreground: 0 0 5%;

    --popover: 210 40% 98%;
    --popover-foreground: 0 0 5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0 15%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0 15%;
    /* --accent-foreground: 210 40% 98%; */
    --accent-foreground: 330.04 101.53% 50.86%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0 15%;
    --input: 0 0 15%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

header {
  height: var(--header-height);
}

html {
  line-height: 1.1;
  font-size: 1.8vw;
}

a:hover {
  @apply text-site-secondary;
}

@media (min-width: 640px) {
  html {
    font-size: 1.5vw;
  }
}

@media (min-width: 768px) and (max-width: 1600px) {
  html {
    font-size: 1vw;
  }
}

@media (min-width: 768px) and (min-height: 400px) {
  /* html {
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  section,
  footer {
    scroll-snap-align: start;
  } */

  /* section:not(#home),
  footer {
    height: 100vh;
  } */

  /* section,
  footer {
    height: 100vh;
  } */
}

@media (min-width: 1601px) {
  html {
    font-size: 18px;
  }
}

html body:not([data-active-section="home"]) .nav a {
  @apply border-site-secondary;
}

html body:not([data-active-section="home"]) .nav .current {
  @apply bg-site-secondary;
}
